<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dfecf6d0-790f-4669-a2f3-3cbfe02bc80f/resourceGroups/AgentBuilderApi_group/providers/Microsoft.Web/sites/AgentBuilderApi</ResourceId>
    <ResourceGroup>AgentBuilderApi_group</ResourceGroup>
    <ApiResourceId>/subscriptions/dfecf6d0-790f-4669-a2f3-3cbfe02bc80f/resourceGroups/AgentBuilderApi_group/providers/Microsoft.ApiManagement/service/AgentBuilderApiapi/apis/AgentBuilderApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://agentbuilderapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>28fc6335-6323-46b0-a1a8-a43efd6badd8</ProjectGuid>
    <MSDeployServiceURL>agentbuilderapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AgentBuilderApi</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$AgentBuilderApi</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAeOwOvIdNfEyu6DvlhLft2AAAAAACAAAAAAAQZgAAAAEAACAAAABCetK/TXauWmzmRZX7nbDf/VKlpyGAy6C6YzMeLa6HygAAAAAOgAAAAAIAACAAAABLWpmZid2CmI2YdEoG8vPTTrwN/i2zggqCqKVzL0amloAAAACqCf3P6BnO0ZrFUJiF21GbN41QEXqJPw8z3Tfwwt9sbfw2ayMo5X+CWn1M80pPZ6YLO577BgKIYn7bvJrRbrPRh+z0RxdbtTmCwo8e+TT/5HHZcb7GO7Bwj+DkKigfnvpzYKdGlGkYUz31GUBfbz3TLcbT3mqBvFg5vTocz34PN0AAAACc/d/0xpI/qMlUoaL/qFOa4jE2gVKPokQedMtdKCngf4C15qW6MH62sKbv8CHh3/4PJjSda06ieSbuehj7HflC</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>